            
body{
object-fit: cover;
background-size: cover;
color: rgb(0, 0, 0);
height: 800px;
background-size: cover;
background-size: 100%;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
margin: 0%;
text-align: center;
}

/*Coloca la lista del menú en horizontal, Añade el colo de fondo, centra el menu y
ajusta los márgenes*/
.menu ul{
display:flex;
list-style:none;
padding:0;
text-align: center; 
background-color: rgb(255, 217, 0);
    
}

/*Ajusta el menu al monitor*/
.menu ul li{
width:100%;
}

/*Crea un efecto de transición y ajusta el texto al ancho del menu*/
.menu ul li a{
text-decoration:none;
padding:2em;
border-color:#000000;
color:rgb(0, 0, 0);
display: block; 
-webkit-transition: background-color 0.4s linear;
transition: background-color 0.4s linear;   
}

/*Asigna el color al que cambia al poner el ratón*/
.menu ul li a:hover{
background-color: rgb(255, 255, 255);
}

/*Coloca el texto sobre las imágenes*/
.contenedor{
position: relative;
display: inline-block;
text-align: center;
display:flex;

}
.centrado{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

        h2{
            color: rgb(46, 206, 255);
        }

        .centrado{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

       .Lista{
           padding-top: 20px;
           column-count: 3;
       }

        p{
            margin: 0 auto;
            width: 85%;
            max-width: 850px;

        }

        h1{
            text-align: center;
        }

        table{
            margin-top: 50px;
            caption-side: botton;
            margin-left: auto;
            margin-right: auto;
            border-collapse: collapse;
        }

        td{
            border: 2px solid black;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 101px;
            padding-bottom: 100px;
        }
        
        .tecla{
            background-color: black;
            color: white;
        }
